html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    padding: 1em;
    width: calc(100% - 2em);
}

header {
    border-top: none;
}

h1, h2 {
    margin: 0;
}

h3:not(:first-child) {
    padding-top: 1em;
    border-top: 1px dashed #999;
}

header, footer {
    text-align: center;
}

header > nav {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: fit-content;
}

header > nav > li {
    display: inline-block;
    padding: 1em;
}

main {
    flex-grow: 1;
}

main > nav {
    float: right;
    width: fit-content;
    padding: .5em;
    margin: 0 0 1em 1em;
    border: 1px solid #888;
    background-color: #eee;
    box-shadow: grey 2px 2px;
}

main > nav > li {
    list-style: none;
    padding: .25em;
}

pre {
    font-size: 90%;
    margin: auto .5em;
}

pre + pre {
    margin-top: 1em;
}

code {
    white-space: pre;
}

ul > li:not(:last-child) {
    margin-bottom: 0.5em;
}

dt {
    margin-bottom: 1em;
}

th, td {
    padding: .5em;
    text-align: left;
}

th {
    background-color: #ddd;
}

tr:nth-of-type(2n) {
    background-color: #eee;
}

a[href^="#"] {
    font-size: smaller;
    color: #222;
}

footer > span {
    font-size: small;
}

.hide {
    display: none;
}

@media screen and (min-width: 600px) {

    header, main, footer {
        width: 100%;
        max-width: 40em;
        padding: 1em;
        border-top: 2px dotted #777;
    }

}

@media screen and (max-width: 600px) {

    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding: 4px 4px 4px 110px;
	}
	
	td:before { 
		position: absolute;
        top: 6px;
        left: 0;
		width: 100px;
		padding-right: 10px; 
        white-space: nowrap;
        text-align: right;
        text-transform: uppercase;
        font-size: smaller;
    }
    
    #api-table td:nth-of-type(1):before { content: 'method'; }
    #api-table td:nth-of-type(2):before { content: 'arguments'; }
    #api-table td:nth-of-type(3):before { content: 'description'; }

    #feature-table td:nth-of-type(1):before { content: 'property'; }
    #feature-table td:nth-of-type(2):before { content: 'type'; }
    #feature-table td:nth-of-type(3):before { content: 'required'; }
    #feature-table td:nth-of-type(4):before { content: 'description'; }
    #feature-table td:nth-of-type(5):before { content: 'example'; }

    #middleware-table td:nth-of-type(1):before { content: 'type'; }
    #middleware-table td:nth-of-type(2):before { content: 'payload'; }
    #middleware-table td:nth-of-type(3):before { content: 'purpose'; }

}

